body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #FF8888;
}

.quem-somos {
    background-color: #FCA772;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #FFE28F;
}

.bg-footer {
    background-color: black;
    color: white;
}